@model LoginViewModel;

@if (Model.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark"
       asp-controller="Authentification"
       asp-action="Deconnexion">Déconnexion</a>
    <li class="nav-item">
        <div>Bienvenue: @Model.Prenom , @Model.Nom</div>
        <div>Nombre de reservations: @Model.NombreDeReservations</div>
    </li>
        </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark"
       asp-controller="Authentification"
       asp-action="Connexion"
       asp-route-ReturnUrl="@Context.Request.Path">Connexion</a>
    </li>
}


